

body {
    background-color: rgb(206, 206, 206);
}

.Container {
    background-color: white;
   padding: 10px;
   width: 100%;
}

.containerHead {
    display: flex;
    align-items: center;
    padding-left: 4rem;
}

.row-1{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row-2{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    padding left: ;
}

h1 {
    margin-bottom: 10px;
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
}

.containerTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 2rem;
}

h2 {
    font-family: 'Dancing Script', cursive;
}


.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: bisque;
    height: 30px;
    list-style: none;
    width: 100%;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 150%;
}

a {
    text-decoration: none;
    color: chocolate;
    font-size: 20px;
}

/* FOOTER */
.derech {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: gray;
}

/* NOVEDADES */
.vidUno {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.vidUno p {
    width: 750px;
    font-size: 25px;
    margin-left: 10px;
    

}

.vidDos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.vidDos p {
    width: 750px;
    font-size: 25px;
    margin-left: 10px;
}

.vidTres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.vidTres p {
    width: 750px;
    font-size: 25px;
    margin-left: 10px;
}

/* FORMULARIO */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
}


.btn1 {
    align-items: flex-start;
}

.btn2 {
    align-items: flex-end;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contacto {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.containerContacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* CAROUSEL */

.row {
    padding-left: 300px;
    width: 100%;
}

.containerCarousel {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}
